<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229492441803-rr616tgjejop3k5pgu6qcef7pb9b8mef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229492441803-rr616tgjejop3k5pgu6qcef7pb9b8mef</string>
	<key>API_KEY</key>
	<string>AIzaSyCmD6a7X0xqpNy30Cm-HspA2G4y8prQ-HI</string>
	<key>GCM_SENDER_ID</key>
	<string>229492441803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nketc.ThingsMatcher</string>
	<key>PROJECT_ID</key>
	<string>salah-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>salah-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229492441803:ios:0ac10267c3944ac42e514e</string>
	<key>DATABASE_URL</key>
	<string>https://salah-calculator.firebaseio.com</string>
</dict>
</plist>